*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana;
}

header{
    height: 40px;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

main{
    height: 700px;
    width: 100%;
}

.content{
    height: 100%;
    width: 100%;
    background-color: rgb(205, 44, 76);
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.content-form{
    height: 600px;
    width: 700px;
    background-color: white;
    border-radius: 10px;
    margin-top: 30px;
    box-shadow: 1px 1px 2px grey;
    padding: 0px 5px 0px 5px;
}

.form-top{
    height: 150px;
    width: 100%;
    border-bottom: 1px solid grey;
}

.form-top-icon{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-top-icon i{
    font-size: 70px;
    color: rgb(205, 44, 76);
}

.form-top-text{
    height: 50px;
    width: 100%;
    text-align: center;
}

.form-top-text p{
    font-size: 30px;
    font-weight: 500;
}

.form-body{
    height: 450px;
    width: 100%;
    border: 2px solid black;
    padding: 20px;
}

.part{
    height: 100px;
    width: 100%;
    border: 2px solid black;
}

.h1{
    height: 30px;
    width: 100%;
    border: 2px solid blue;
}

.h1 p{
    font-size: 20px;
}

.h2{
    height: 40px;
    width: 100%;
    display: flex;
}

.h2-a{
    height: 40px;
    width: 7%;
    border: 2px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h2-a i{
    font-size: 28px;
    color: grey;
}

.h2-b{
    height: 40px;
    width: 93%;
    border: 2px solid red;
    display: flex;
    justify-content: space-between;
}

.h2-b-1{
    height: 40px;
    width: 49%;
    border: 1px solid black;
}

input{
    height: 40px;
    width: 100%;
    font-size: 18px;
    padding: 4px 0px 0px 3px;
}

.h3{
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.h3-a{
    height: 30px;
    width: 45%;
    border: 1px solid pink;
}

.h3-b{
    height: 30px;
    width: 45%;
    border: 1px solid pink;
    margin-right: 4px;
}